/* antd 全局样式修正 */

.ant-image-preview-img {
  display: inline-block;
}
.ant-image-mask-info > span {
  vertical-align: middle;
}
.index-copyright-box {max-height: 100%!important;}
.banquan {text-align: -webkit-center!important;}
.banquan p {line-height: 2rem!important;}
.font-mono {font-family: OPPO-OS!important;}
.wulintang {padding-left: 20%!important;}
